@page "/"

<div class="page">

    @* Header of the page *@
    <div class="topBar">
        <h1 style="margin:0px">Productivity App</h1>
        <AuthorizeView Roles="User">
            <NotAuthorized>
                <LoginDisplay />
            </NotAuthorized>
            <Authorized>
                <div></div>
            </Authorized>
        </AuthorizeView>
    </div>

    @* Timer button UI *@
    <div class="timer">
        <p>@Hours.ToString("00"):@Minutes.ToString("00"):@Seconds.ToString("00")</p>
        <div class="timerBtn">
            <button class="start-btn" @onclick="@StartTimer" disabled=@StartButtonIsDisabled>Start</button>
            <button class="stop-btn" @onclick="@StopTimer" disabled=@StopButtonIsDisabled>Stop</button>
        </div>
    </div>

    @* Side bar - set timer and to-do list *@
    <div class="aside">
        <div class="title">
            <strong @onclick="@ShowModal">Set Timer</strong>
            <h3>To-Do List</h3>
        </div>
        <hr />

        <TodoList></TodoList>
    </div>

    @* Set timer pop-up page *@
    <PopUpPage Title="Set Timer" IsOpened="@IsOpened" OnExit="@HideModal">
        <Content>
            <div class="modal">
                <input type="number" id="hoursInput" 
                    value="@Hours.ToString("00")" 
                    min="0" max="24" 
                    @onchange="(e => Hours = Convert.ToInt32(e.Value))">:
                <label for="hoursInput"></label>

                <input type="number" id="minutesInput" 
                    value="@Minutes.ToString("00")" 
                    min="0" max="59" 
                    @onchange="(e => Minutes = Convert.ToInt32(e.Value))">:
                <label for="minutesInput"></label>

                <input type="number" id="secondsInput" 
                    value="@Seconds.ToString("00")" 
                    min="0" max="59" 
                    @onchange="(e => Seconds = Convert.ToInt32(e.Value))">
                <label for="secondsInput"></label>
            </div>
            <br/>
            <button class="modal-btn" @onclick="@SetTimer">Add</button> 
        </Content>
    </PopUpPage>
</div>

@code {
    public bool IsOpened { get; set; } = false; // For set timer popup page
    public bool IsClicked { get; set; } = false; // For sign-in popup page
    public int hours;
    public int minutes;
    public int seconds;

    // Function for sign-in popup page
    public void ShowSignInPage()
    {
        IsClicked = true;
    }
    public void HideSignInPage()
    {
        IsClicked = false;
    }

    // Function for set timer popup page
    public void ShowModal()
    {
        IsOpened = true;
    }
    public void HideModal()
    {
        IsOpened = false;
    }
    public void SetTimer()
    {
        if (Hours != 0 || Minutes != 0 || Seconds != 0)
        {
            IsOpened = false;
            hours = Hours;
            minutes = Minutes;
            seconds = Seconds;
        }
        else
        {}
    }
}