@page "/"
@inherits FrontEnd.Components.Timer

<div class="page">

    <div class="topBar">
        <h1 style="margin:auto;">Productivity App</h1>
        @* <img src="Images/profile_pic.png" @onclick="@showSignInPage"> *@
    </div>

    @* <PopUpPage Title="Sign Up" IsOpened="@isClicked" OnExit="@hideSignInPage">
        <Content>
            <button>sign up</button>
        </Content>
    </PopUpPage> *@

    <div class="timer">
        <p>@Hours.ToString("00"):@Minutes.ToString("00"):@Seconds.ToString("00")</p>
        <div class="timerBtn">
            <button class="start-btn" @onclick="@StartTimer" disabled=@StartButtonIsDisabled>Start</button>
            <button class="stop-btn" @onclick="@StopTimer" disabled=@StopButtonIsDisabled>Stop</button>
        </div>
    </div>

    <div class="aside">
        <div class="title">
            <strong @onclick="@showModal">Set Timer</strong>
            <h3>To-Do List</h3>
        </div>
        <hr />

        @foreach (ToDo todo in ToDoListCollection)
        {
            <div class="toDoList">
                <input type="checkbox" id="checkbox" @bind="@todo.IsCompleted" />
                <label for="checkbox">@todo.Description</label>
            </div>
            <hr />
        }

        <label for="toDoInput">
            <input placeholder="+ Add to-do list" id="toDoInput" type="text"
            @bind-value="@Description" @bind-value:event="oninput" @onkeypress="@AddList">
        </label>
    </div>

    <PopUpPage Title="Create Costum Timer" IsOpened="@isOpened" OnExit="@hideModal">
        <Content>
            <div class="modal">
                <input type="number" id="hoursInput" 
                    value="@Hours.ToString("00")" 
                    min="0" max="24" 
                    @onchange="(e => Hours = Convert.ToInt32(e.Value))">:
                <label for="hoursInput"></label>
                <input type="number" id="minutesInput" 
                    value="@Minutes.ToString("00")" 
                    min="0" max="59" 
                    @onchange="(e => Minutes = Convert.ToInt32(e.Value))">:
                <label for="minutesInput"></label>
                <input type="number" id="secondsInput" 
                    value="@Seconds.ToString("00")" 
                    min="0" max="59" 
                    @onchange="(e => Seconds = Convert.ToInt32(e.Value))">
                <label for="secondsInput"></label>
            </div>
            <br/>
            <button class="modal-btn" @onclick="@setTimer">Add</button> 
        </Content>
    </PopUpPage>
</div>

@code {
    @* Code for set timer PopUpPage *@
    private bool isOpened = false;
    private void showModal()
    {
        isOpened = true;
    }
    private void hideModal()
    {
        isOpened = false;
    }
    private void setTimer()
    {
        if (Hours != 0 || Minutes != 0 || Seconds != 0)
        {
            isOpened = false;
        }
        else
        {}
    }
}