@page "/test2"
@using Google.Protobuf.Collections
@using Google.Protobuf.WellKnownTypes
@inject User.UserClient UserClient

<input placeholder="id" @bind="@id" /><br>
<input placeholder="name" @bind="@name" /><br>
<input placeholder="email" @bind="@email" /><br>
<input placeholder="password" @bind="@password" /><br>
<input placeholder="To-do description" @bind="@description" />
<button @onclick="@GetUser">Get server response</button>
<button @onclick="@AddToDo">Add To-Do</button>
<p>@serverNameResponse</p>
@foreach(var todo in serverToDoResponse)
{
    <p>ID: @todo.Id, Description: @todo.Description, IsCompleted: @todo.IsCompleted</p>
}
<p>@statusResponse</p>

@code {
    private int id;
    private string name;
    private string email;
    private string password;
    private string serverNameResponse;
    private RepeatedField<ToDoStructure> serverToDoResponse = new RepeatedField<ToDoStructure>();
    private string description;
    private string statusResponse;
    protected override async Task OnInitializedAsync()
    {
        await GetToDoList();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await GetToDoList();
        }
        else
        {
            await GetToDoList();
        }
    }
    private async Task GetUser()
    {
        var request = new UserRequest { Name = name, Email = email, Password = password };
        var response = await UserClient.GetUserAsync(request);
        serverNameResponse = response.Name;
    }

    private async Task GetToDoList()
    {
        var request = new Empty();
        var response = await UserClient.GetToDoAsync(request);
        serverToDoResponse = response.ToDoList;
    }
    private async Task AddToDo()
    {
        var userInfo = new ToDoItemList();
        var request = new ToDoStructure(){Id = userInfo.ToDoList.Count, Description = description, IsCompleted = false};
        var newToDo = await UserClient.AddToDoAsync(request);
        userInfo.ToDoList.Add(request);
        statusResponse = newToDo.StatusMessage;
        await InvokeAsync(StateHasChanged);
    }
}