@foreach (var todo in ServerToDoResponse)
{
    <div class="toDoList">
        <div class="todo">

            <input type="checkbox" id="checkbox" @bind="@todo.IsCompleted" 
                @onclick="e => PutToDoIsCompleted(todo.Id, todo.Description, todo.IsCompleted, e)" />

            <label class="todo-description" role="textbox">@todo.Description</label>
            <textarea id="@todo.Id.ToString()" class="edit-todo" 
            @bind-value="@ToDoDescription" @bind-value:event="oninput" style="display:none;"
            @onfocusout="() => PutToDoDescription(todo.Id, todo.Id.ToString(), todo.Description, ToDoDescription, todo.IsCompleted)">
                @todo.Description
            </textarea>
        </div>

        <div class="todo-icons">
            <span class="edit-icon" @onclick="() => EditToDo(todo.Id, todo.Description, todo.IsCompleted)">&#9998;</span>
            <span @onclick="() => DeleteToDo(todo.Id)">&#9747;</span>
        </div>
    </div>

    <hr />
}

<input placeholder="+ Add to-do list" id="toDoInput" type="text"
    @bind-value="@Description" @bind-value:event="oninput" @onkeypress="@AddToDo">

<label for="toDoInput"></label>
